<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <h1 class="text-center mt-5 mb-5 text-primary">Editar Usuario</h1>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row mb-3">

                <div class="card shadow">
                    <div class="card-header text-center">
                        <h5>Formulario de editar</h5>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Cliente</label>
                                        <input type="text" class="form-control" name="cliente" value="{{ credito.cliente }}">
                                    </div>
                                    <div class="mb-3">
                                        <label>Tasa de interés</label>
                                        <input type="number" class="form-control" name="tasa" value="{{ credito.tasa_interes }}">
                                    </div>
                                    <div class="mb-3">
                                        <label>Fecha de otorgamiento</label>
                                        <input type="date" class="form-control" name="fecha" value="{{ credito.fecha_otorgamiento }}">
                                    </div>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Monto</label>
                                        <input type="number" class="form-control" name="monto" value="{{ credito.monto }}">
                                    </div>
                                    <div class="mb-3">
                                        <label>Plazo</label>
                                        <input type="text" class="form-control" name="plazo" value="{{ credito.plazo }}">
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col text-center">
                                    <button class="btn btn-primary mt-3" type="submit">
                                        Guardar
                                    </button>
                                </div>

                                <div class="col text-center">
                                    <a href="/" class="btn btn-secondary mt-3">
                                        Cancelar
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>